/** GLOBAL FONT FAMILY *******************************************************/
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    /* font-family: 'Anek Telugu', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0;
}

/** COLOR PALETTES | GLOBAL VARIABLES ******************************************/
:root {
    --gray-color: rgb(97, 97, 97);
    --anek-font: 'Anek Telugu', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    width: 100%;
    overflow-x: hidden;
}

/** Remove bullets from list elements *******************************************/
ul,
ol,
menu {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/** Reapply the pointer cursor for anchor tags ***********************************/
a,
button {
    cursor: pointer;
}

/** Controls images display, so they do not exceed their wrapping element's size **/
img,
picture {
    width: 100%;
}

/** INPUT FIELD FOCUS *************************************************************/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0px 1000px #fff inset;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/* Removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Remove all animations, transitions and smooth scroll ****************************/
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
